body{
  background: rgb(73, 127, 131);
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: center;
}
header{
  margin-top: 80px;
  margin-bottom: 40px;
}

section{
  background: rgb(45, 67, 88);
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  height: 50px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.438);
  }

div{
  padding: 1pt;
  }

footer{
  font-family: 'Borel', cursive;
  margin-top: 10px;
 }