* { 
  margin: 0; 
  padding: 0; 
}

body{
  background: rgb(73, 127, 131);
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: center;
}

header{
  margin-top: 2.5%;
  margin-bottom: 2%;
}

section{
  background: rgb(248, 231, 231);
  color: rgb(22, 20, 20);
  font: bolder;
  font-size: larger;
  border-radius: 10px;
  padding: 1%;
  width: 50%;
  height: 50%;
  margin: auto;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

div{
  padding: 1%;
}

.foto{
  size: 100%;
}

 footer{
  font-family: 'Borel', cursive;
}

a{
  font-size: small;
  text-decoration: none;
  color: white;
}

a:hover{
  font-size: medium;
}

@media (max-width: 768px){
  section{
    height: 50vh;
    width: 90vw;
    overflow: hidden;
  }
}